name: "EKS Terraform deploy"
on:
    push:
        branches:
            - main
    workflow_dispatch:
jobs:
    terraform:
        name: "Terraform Apply"
        runs-on: ubuntu-latest
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_REGION: ${{ secrets.AWS_REGION }}
        steps:
            - name: checkout git code
              uses: actions/checkout@v4
            - name: setup terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: "1.9.3"
            - name: run terraform bootstrap
              working-directory: ./bootstrap
              run: |
                  terraform init
                  terraform apply -auto-approve || echo "Bootstarp already exists"
            # EKS deployment
            - name: terraform init EKS
              working-directory: ./eks
              run: terraform init
            - name: Terraform plan EKS
              working-directory: ./eks
              run: terraform plan -var-file="dev.tfvars"
            - name: terraform apply EKS
              working-directory: ./eks
              run: terraform apply -var-file="dev.tfvars" -auto-approve
